body {
    margin: 0;
}

#main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#vraifaux {
    z-index: 0;
    display: flex;    
    transition: scale;
    transition-duration: 1.3s;
    gap: 50px;
    padding-bottom: 50px;
}

#vrai, #faux {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    transition: background-color;
    transition-duration: 0.3s;
}

.light-faux {
    /* scale sisze to 10% */
    background-color: rgb(224, 0, 0);
    border: 3px solid rgb(224, 0, 0);
    scale: 1.1;
}

.dark-faux {
    border: 3px solid rgb(224, 0, 0);
    
}

.light-faux svg {
    /* fill and stroke to red */
    fill: white;
    stroke: white;
}

.dark-faux svg {
    /* fill and stroke to red */
    fill: rgb(224, 0, 0);
    stroke: rgb(224, 0, 0);
}

.dark-faux:hover {
    background-color: rgb(224, 0, 0);
    color: white;
    scale: 1.1;   
}

.dark-vrai:hover {
    background-color: rgb(1, 176, 1);
    color: white;
    scale: 1.1;   
    
}

.dark-faux:hover svg {
    fill: white;
    stroke: white;
}

.light-vrai {
    /* scale sisze to 10% */
    background-color: rgb(1, 176, 1);
    border: 3px solid rgb(1, 176, 1);
    scale: 1.1;

}

.light-vrai svg {
    /* fill and stroke to red */
    fill: white;
    stroke: white;
}

.dark-vrai:hover svg {
    fill: white;
    stroke: white;
}

.dark-vrai svg {
    /* fill and stroke to red */
    fill: rgb(1, 176, 1);
    stroke: rgb(1, 176, 1);
}

.dark-vrai {
    border: 3px solid rgb(1, 176, 1);
}

#tweet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: fit-content;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    user-select: none;
    width: fit-content;
    transition: margin;
    transition-duration: 0.03s;
}

#tweet:hover {
    cursor: pointer;
}

#contenu, #source {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(184, 184, 184);
}

#contenu {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#source {
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#auteur {
    display: flex;
    gap: 10px;
}

#auteur img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(184, 184, 184);
    pointer-events: none;
}

#nom-auteur {
    font-weight: bold;
}

#affirmation {
    text-align: justify;
}

